@import "./components/navigation.css";
* {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
title {
  top: 0;
  margin-right: -80px;
}
body {
  max-width: 321px;
  min-width: 320px;
  border: 1px solid;
  border-radius: 0.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
header {
  top: 0;
  position: fixed;
  width: 320px;
  z-index: 10;

  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background-color: grey;
  display: flex;
  justify-content: space-evenly;
}
main {
  display: flex;
  flex-direction: column;
}
section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 0.5em;
  position: relative;
  background-color: antiquewhite;
}
.question {
  position: relative;
  right: 10px;
  top: -30px;
}
.name {
  position: relative;
}
figure {
  display: flex;
}
figcaption {
  justify-content: space-between;
}
.answer {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: burlywood;
  position: relative;
  justify-content: space-evenly;
}
.answer:hover {
  background-color: rgb(217, 131, 19);
}

.bookmark {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -20px;
  right: 10px;
}
.bookmark:hover {
  color: grey;
  fill: grey;
}

ul {
  flex-wrap: wrap;

  position: relative;

  display: flex;

  justify-content: space-around;
  list-style: none;
  gap: 4px;
}
li {
  position: relative;
  right: 50px;
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid black;
  border-radius: 0.3em;
  background-color: goldenrod;
}

.pic {
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
