.answer {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: burlywood;
  position: relative;
  justify-content: space-evenly;
}
.answer:hover {
  background-color: rgb(217, 131, 19);
}
.bookmark {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -20px;
  right: 10px;
}
.active {
  color: red;
}
