.card1 {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin: 1.3em;
  border: 1px solid black;
  border-radius: 0.5em;
  position: relative;
  background-color: antiquewhite;
}

.questionheader {
  position: relative;
  margin-top: 0;
  left: 0.5em;
}

.name {
  position: relative;
}
ul {
  position: relative;
  left: 1.5em;
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 4px;
}
li {
  position: relative;
  right: 50px;
  padding-left: 10px;
  padding-right: 10px;

  border: 1px solid black;
  border-radius: 0.3em;
  background-color: goldenrod;
}

.question_text {
  position: relative;
  top: -1em;
  background-color: white;
  margin: 1em;
  padding: 1em;
  border: 2px solid;
  border-radius: 0.3em;
  box-shadow: 5px 5px 10px;
}

.pic {
  height: auto;
  width: auto;
  max-height: 200px;
  /* height: 60px;
  width: 100px; */
  border-radius: 50%;
}

figure {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}

.answer-text {
  background-color: white;
}

.new-questioncard {
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: antiquewhite;
  border-radius: 0.5em;
  border: solid 1px black;
}
.submit-button {
  width: 100px;
  margin-bottom: 4em;
  margin-top: 4em;
  margin-left: 5em;
  border: 1px solid black;
  border-radius: 0.3em;
  background-color: burlywood;
}
.submit-button:hover {
  background-color: rgb(217, 131, 19);
}

.char-left-question {
  position: relative;
  margin-top: -0.9em;
  font-size: 0.7rem;
  color: #9f9f9f;
}
.char-left-answer {
  position: relative;
  margin-top: -0.9em;
  font-size: 0.7rem;
  color: #9f9f9f;
}
